#obs{
    color: #001a33;
    font-size: small;
    font-style: italic;
    margin-top: 10px;
}

#formArea{
    margin-left: 200px;
    margin-right: 200px;
}

#navnav{
    color: black;


}